{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'app_password_manager/css/style.css' %}">
    <title>Mes sites</title>
</head>

<body>

<div class="container">
    <h1>Mes sites</h1>
    <div id="importExport">
        <form action="{% url 'export_passwords' %}" method="get">
            <input type="submit" value="Exporter" class="btn bg-brown">
        </form>
        <form action="{% url 'import_csv' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="csv_file" class="btn bg-brown">
            <input type="submit" value="Importer" class="btn bg-brown">
        </form>
    </div>
    <div class="flex-center">
        <a href="{% url 'ajouter_site' %}" class="btn bg-black">Ajouter un site</a>
    </div>

    {% for site in sites %}
    <div class="liste">
        <h3>Site n°{{ site.id }}</h3>
        <ul>
            <li><span>Id :</span> {{ site.id }}</li>
            <li><span>Nom :</span> {{ site.nom }}</li>
            <li><span>URL :</span> {{ site.url }}</li>
            <li><span>Identifiant :</span> {{ site.identifiant }}</li>
            <li><span>Mot de passe :</span> {{ site.mot_de_passe }}</li>
        </ul>
        <div class="flex-space-around">
            <a href="{% url 'modifier_site' site.id %}" class="btn bg-black">Modifier</a>
            <form action="{% url 'supprimer_site' site.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Supprimer" class="btn bg-black">
            </form>
        </div>
    </div>
    {% endfor %}
</div>
</body>

</html>