{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'app_password_manager/css/style.css' %}">
</head>
<title>Mes sites</title>
</head>

<body>

    <div class="container">
        <h1>Mes sites</h1>
        <div class="liste">
            <ul>
                {% for site in sites %}
                <li>{{ site.id }}</li>
                <li>{{ site.nom }}</li>
                <li>{{ site.url }}</li>
                <li>{{ site.identifiant }}</li>
                <li>{{ site.mot_de_passe }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

</body>

</html>