@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="submit"], button[type="button"], button[type="submit"] {
    border: unset;
}

input[type="submit"]:hover, button[type="button"]:hover, button[type="submit"]:hover {
    cursor: pointer;
}

input[type="file"] {
    width: 307px
}

body {
    font-family: 'Poppins', cursive, sans-serif;
    background-color: #fcf6c9;
}

h1 {
    background-color: #000;
    color: #FFF;
    padding: 20px;
    text-align: center;
}

.liste {
    width: 50%;
    margin: 50px auto;
}

.liste h3 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul li span {
    font-weight: bold;
}

#importExport {
    padding: 1rem;
    text-align: center;
    background-color: black;
    color: #FFF;
    display: flex;
    justify-content: center;
}

#importExport form {
    padding: 20px;
}
#importExport form input{
    padding: 1px 4px 1px 4px;
}

.flex-center {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
}

.flex-space-between {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 5px;
}

.btn {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Poppins', cursive, sans-serif;
}

.bg-brown {
    background-color: #fcf6c9;
    color: #000;
}

.bg-black {
    background-color: #000;
    color: #FFF;
}

.ml-2rem {
    margin-left: 2rem;
}