@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', cursive, sans-serif;
    background-color: #fcf6c9;
}

h1 {
    background-color: #000;
    color: #FFF;
    padding: 20px;
    text-align: center;
}

.liste {
    width: 50%;
    margin: 50px auto;
}

.liste h3 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul li span {
    font-weight: bold;
}

#importExport {
    padding: 1rem;
        text-align: center;
    background-color: black;
        color: #FFF;
    display: flex;
    justify-content: center;
}

#importExport form {
    padding: 20px;
}
#importExport form input{
    padding: 4px;
    padding-bottom: 1px;
    padding-top: 1px;
}

